*.sublime*
.ipynb_checkpoints
notebooks.old/
temp/
data/extract-cid-casrn/*.*
results/extract-cid-casrn/*.*
results/*.*

# Operating system junk
.DS_Store
.DS_Store?
._*
.~*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Logs
pip-log.txt
pip-delete-this-directory.txt
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
